/* GLOBAL STYLES
 * Padding below the footer and lighter body text
* -------------------------------------------------- */
  @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

  .app {
    background-color: lightblue;
    padding-bottom: 25px;
    font-family: 'Architects Daughter', cursive;
  }

  body {
    padding-bottom: 40px;
    color: #5a5a5a;
  }

  footer {
    position: absolute;
    bottom: 20px;
    padding-left: 25px;
  }

  .pull-right {
    position: absolute;
    right: 15px;
    bottom: 10px;
  }

  /* CAROUSEL
  -------------------------------------------------- */

  /* Carousel base class */
  .carousel {
    height: 700px;
    width: 600px;
    margin: 60px auto;
  }

  /* Declare heights because of positioning of img element */
  .carousel-item {
    position: absolute;
    height: 700px;
  }
  img.carousel-inner {
    position: absolute;
    top: 0;
    left: auto;
    right: auto;
    height: 700px;
  }

  @import "../node_modules/bootstrap/scss/bootstrap";